@{
    ViewBag.Title = "Home Page";
}


//* Partial View Concept------
<!--<br />
<br />
<p>
    Create _MyPartialView in shared folder-------cut the Navbar from _Layout.cshtml---------Paste in Partial View.

    Create Action In Home controller------ LoadPartial---------_MyPartialView.

    Add ...Call Action  LoadPartial in _Layout.cshtml-->   @*@Html.Action("LoadPartial")*@
<!--</p>

<br/>

<br />
By creating partial view you can use this view in every controller By creating a Action LoadPartial!!-->
